280NPLIST;1.0;D;K;12;CPBundleNameS;8;CucumberK;16;CPPrincipalClassS;8;CucumberK;19;CPBundlePackageTypeS;4;APPLK;29;CPBundleInfoDictionaryVersiond;1;6K;18;CPBundleIdentifierS;30;com.automagicsoftware.CucumberK;15;CPBundleVersionS;3;1.0K;20;CPBundleEnvironmentsA;S;7;BrowserS;8;CommonJSE;K;18;CPBundleExecutableS;11;Cucumber.sjK;36;CPBundleEnvironmentsWithImageSpritesA;E;E;